.imgWrapper{
    width: 1vw;
}
.wrapper{
    margin: auto;
    width: 1100px;
    display: flex;
}

.left-wrapper{
    width: 30%;
}

.right-wrapper{
    width: 69%;
    
}
.right-wrapper input{
    /* display: block; */
    /* flex: 1; */
    width: 100%;
    border: none;
    border-bottom:1px solid #CCCCCC;
}
.right-wrapper .error-input{
    height: 20px;
}


.footer-wrapper{
    display: flex;
    justify-content: space-around;
    border-top: 6px solid red;
    margin-top: 42px;
    padding: 68px 0;
}


.footer-wrapper .icon-name{
    display: block;
    font-size: 30px;
    padding: 26px 0;
}

.footer-wrapper .icon-content{
    font-size: 30px;
    font-weight: 700;
}


