.container{
    background-color: #F7F7F7;
}

.condition{
    background-color: white;
    max-width: 1033px;
    margin: auto;
    padding-top: 15px;
}

h1{
    font-size: 21px;
    font-weight: 700;
    line-height: 22.47px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-bottom: 15px;
}

h2{
    font-size: 21px;
    padding-left: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Arial, sans-serif;;
}

.rules{
    line-height: 17.12px;
    padding-bottom: 0;
}

p{
    display: flex;
    text-align: justify;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 24px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
}

.child{
    padding-left: 170px;
}

h4 b{
    font-family: Arial, sans-serif;
    padding-left: 115px;
    padding-bottom: 18px;
}

.imgcondition{
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}

i{
    display:flex;
    margin: auto;
}

.imgdouble{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.eight{
    display:block;
    padding-top: 20px;
    padding-left: 160px;
}

.end{
    display: block;
    text-align: center;
}

.research{
    text-transform: uppercase;
    padding-top: 50px;
}

.imgresearch{
    height: 111px;
    width: 111px;
}

h5{
    font-size: 14px;
    color: #D70C18;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 120px;
    padding-top: 20px;
}

.define p{
    font-size: 14px;
    padding-bottom: 0;
}
