*{
    font-family: arial, helvetica, sans-serif;
}

p{
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
}

.poster {
    height: 495px;
}

.content__container {
    width: 1098px;
    margin: 0 auto;
}

.content-title{
    margin-bottom: 14px;
    border-bottom: 1px solid rgb(151, 151, 151);
    color: rgb(226, 7, 38);
    line-height: 43px;
    font-size: 32px;
    padding: 2px 0px 6px;
}

.content-item{
    margin-top: 40px;
}