main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
}

.slider{
    /* box-sizing: border-box; */
    height: 648px;
    /* text-align: center; */
    /* padding-left: 0; */
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100vw;
    height: 648px;
}

/* manual slide nav */

.nav-manual{
    position: absolute;
    width: 100vw;
    margin-top: -120px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: pink;
}

#radio1:checked ~ .slide-first{
    margin-left: 0;
}

#radio2:checked ~ .slide-first{
    margin-left: calc(-20 * 1%);
}

#radio3:checked ~ .slide-first{
    margin-left: calc(-20 * 2%);
}

#radio4:checked ~ .slide-first{
    margin-left: calc(-20 * 3%);
}

#radio5:checked ~ .slide-first{
    margin-left: calc(-20 * 4%);
}

#radio6:checked ~ .slide-first{
    margin-left: calc(-20 * 5%);
}

#radio7:checked ~ .slide-first{
    margin-left: calc(-20 * 6%);
}

#radio8:checked ~ .slide-first{
    margin-left: calc(-20 * 7%);
}

/* css nav auto */

.nav-auto{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 528px;
}

.nav-auto div{
    border: 2px solid red;
    padding: 5px;
    border-radius: 9px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}


#radio1:checked ~ .nav-auto .auto-btn1{
    background: pink;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: pink;
    
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: pink;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: pink;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background: pink;
}

#radio6:checked ~ .nav-auto .auto-btn6{
    background: pink;
}

#radio7:checked ~ .nav-auto .auto-btn7{
    background: pink;
}

#radio8:checked ~ .nav-auto .auto-btn8{
    background: pink;
}

/* Css for Search */

.search-container{
    box-sizing: border-box;
    width: 350px;
    border-radius: 5px;
    padding: 20px 10px;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 10%);
    background: hsla(0,0%,100%,.8);
    text-align: initial;
    max-height: 450px;
    overflow-y: auto;
}

form{
    display: block;
    margin-top: 0em;
}

.search-input{
    overflow: hidden;
    height: 40px;
    transition: height .7s;
    box-sizing: border-box;
    width: 310px;
    margin: 1px auto;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
}

.taginput{
    width: 290px;
    min-height: 95px;
    margin: 1px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.taginput-input{
    width: 100%;
    margin-top: 1px;
    margin-bottom: 6px;
    border: none;
    outline: none;
    padding: 5px;
    background: transparent;
    font-size: 13px;
    font-weight: 400;
    color: #777;
}

.btn{
    box-sizing: border-box;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
    border: none;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    background: none;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    display: inline-block;
    text-decoration: none;
}

.primary{
    background: #e20726;
    color: #fff;
}

.search-btn{
    display: block;
    height: 36px;
    width: 310px;
    margin: 16px auto 0;
    border-radius: 5px;
    font-size: 18px;
}

/* Css for Wrap */

.wrap{
    width: 100%;
    background: rgba(226,7,38,.8);
}

.wrap-services {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.link {
    width: 255px;
    flex-grow: 1;
    display: block;
    line-height: 98px;
    height: 98px;
    color: #fff;
    text-align: center;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.link:after, .link:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #fff;
}

.link:before {
    left: -1px;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.link:after {
    right: 0;
    height: 27px;
    top: 36px;
}

img{
    border: none;
    vertical-align: middle;
}

.services-icon{
    margin-right: 27px;
    vertical-align: middle;
}