*{
    font-family: "Roboto", sans-serif, "Microsoft YaHei";
}

body {
    width: 100%;
    min-width: 1280px;
    text-rendering: optimizeLegibility;
    background: #fff !important;
}

main {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    position: relative;
    /* height: 3900px; */
}

.link-active::before,
.link-active::after {
    width: 50%;
}

.slider {
    /* box-sizing: border-box; */
    height: 648px;
    /* text-align: center; */
    /* padding-left: 0; */
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 500vw;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100vw;
    height: 648px;
}

/* manual slide nav */

.nav-manual {
    position: absolute;
    width: 100vw;
    margin-top: -120px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 3px;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: pink;
}

#radio1:checked ~ .slide-first {
    margin-left: 0;
}

#radio2:checked ~ .slide-first {
    margin-left: calc(-20 * 1%);
}

#radio3:checked ~ .slide-first {
    margin-left: calc(-20 * 2%);
}

#radio4:checked ~ .slide-first {
    margin-left: calc(-20 * 3%);
}

#radio5:checked ~ .slide-first {
    margin-left: calc(-20 * 4%);
}

#radio6:checked ~ .slide-first {
    margin-left: calc(-20 * 5%);
}

#radio7:checked ~ .slide-first {
    margin-left: calc(-20 * 6%);
}

#radio8:checked ~ .slide-first {
    margin-left: calc(-20 * 7%);
}

/* css nav auto */

.nav-auto {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 528px;
}

.nav-auto div {
    border: 2px solid white;
    padding: 3px;
    border-radius: 9px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background: white;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background: white;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background: white;
}

#radio4:checked ~ .nav-auto .auto-btn4 {
    background: white;
}

#radio5:checked ~ .nav-auto .auto-btn5 {
    background: white;
}

#radio6:checked ~ .nav-auto .auto-btn6 {
    background: white;
}

#radio7:checked ~ .nav-auto .auto-btn7 {
    background: white;
}

#radio8:checked ~ .nav-auto .auto-btn8 {
    background: white;
}

/* Css for Search */

.search-container {
    box-sizing: border-box;
    width: 350px;
    border-radius: 5px;
    padding: 20px 10px;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 10%);
    background: hsla(0, 0%, 100%, 0.8);
    text-align: initial;
    max-height: 450px;
    overflow-y: auto;
}

form {
    display: block;
    margin-top: 0em;
}

.search-input {
    overflow: hidden;
    height: 40px;
    transition: height 0.7s;
    box-sizing: border-box;
    width: 310px;
    margin: 1px auto;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
}

.taginput {
    width: 290px;
    min-height: 95px;
    margin: 1px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.taginput-input {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 6px;
    border: none;
    outline: none;
    padding: 5px;
    background: transparent;
    font-size: 13px;
    font-weight: 400;
    color: #777;
}

.btn {
    box-sizing: border-box;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
    border: none;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    background: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: inline-block;
    text-decoration: none;
}

.primary {
    background: #e20726;
    color: #fff;
}

.search-btn {
    display: block;
    height: 36px;
    width: 310px;
    margin: 16px auto 0;
    border-radius: 5px;
    font-size: 18px;
}

/* Css for Wrap */

.wrap-services {
    width: 100%;
    background: rgba(226, 7, 38, 0.8);
}

.services {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.services-link {
    width: 255px;
    flex-grow: 1;
    display: block;
    line-height: 98px;
    height: 98px;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.services-link:after {
    right: 0;
    height: 27px;
    top: 36px;
}

.services-link:not(:last-child)::after,
.link:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #fff;
}

.services-link:before {
    left: -1px;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.services-enter {
    background: #fff;
    color: #e20727;
}

img {
    border: none;
    vertical-align: middle;
}

.services-icon {
    margin-right: 27px;
    vertical-align: middle;
}

.about__express-content {
    display: flex;
}

.about__express-text {
    flex-grow: 1;
    padding-right: 51px;
}

.about__express-text-title {
    border-bottom: 1px solid #979797;
    margin-bottom: 14px;
    color: #e20726;
    line-height: 43px;
    font-size: 32px;
    font-weight: 500;
    padding: 2px 0 6px;
}

p{
    font-size: 14px;
    line-height: 24px;
}

.about__express-img-link {
    flex-grow: 1;
    display: block;
    flex-shrink: 0;
}
img {
    border: none;
    vertical-align: middle;
}

.about__express-video {
    display: flex;
    justify-content: center;
}

.milestones-title,
.best-inc_services-title {
    color: rgb(218, 33, 40);
    line-height: 24px;
    font-size: 30px;
}

.milestones-img {
    margin-top: inherit;
}

.list-services li {
    margin-left: 30px;
}

section {
    display: block;
}

.wrap-news {
    background: #f8f8f8;
}

.simple__news {
    width: 1280px;
    margin: 0 auto;
}

.simple__news-header,
.card-detail,
.simple__news-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simple__news-header {
    padding: 60px 63px 20px 50px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.news {
    font-weight: 500;
    font-style: italic;
    font-size: 32px;
    color: #e20726;
    margin: 0;
}

.more {
    font-size: 22px;
    color: #1b5faf;
    text-decoration: none;
}

.more-arrow {
    width: 22px;
    height: 20px;
    margin-left: 21px;
}

.simple__news-list {
    padding: 0 44px 42px 40px;
    align-items: flex-start;
    justify-content: start;
    list-style: none;
}

.news__card {
    width: 280px;
    background: #fff;
    margin: 0 9px 19px 10px;
    border: 1px solid #d8d8d8;
    transition: 0.3s;
}

.news__card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card-link {
    display: block;
    text-decoration: none;
}

.card-img {
    display: block;
    width: 280px;
    height: 175px;
}

.card-content {
    padding: 0 20px;
}

.card-title {
    font-weight: 500;
    font-size: 22px;
    color: #4a4a4a;
    line-height: 44px;
    margin-top: 2px;
}

.card-desc {
    font-size: 13px;
    color: #959595;
    line-height: 18px;
    height: 36px;
    margin-bottom: 7px;
}

.card-detail {
    font-size: 13px;
    color: #4a4a4a;
    height: 40px;
    position: relative;
}

.card-detail::before{
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    height: 1px;
    right: 0;
    background: #d8d8d8;
}

.detail-arrow{
    height: 15px;
    width: 17px;
    margin-right: 4px;
}