.imgNew{
    width: 100%;
    height: 495px;
}

.imgsubnew{
    height: 175px;
    width: 280px;
    padding-top: 45px;
}

table{
    margin: auto;
    padding-top: 25px;
}

.newcontent h2 b{
    font-size: 22px;
    color: #4A4A4A;
}

.newcontent p{
    border-top: 1px solid #979797;
    color: #666566;
    padding-top: 9px;
}

.newcontent{
    padding-left: 50px;
    width: 585px;
    padding-top: 10px;
}

.newcontent a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.newcontent .fa-solid{
    color: #E20726;
}

.newcontent b{
    color: #1b5faf;
    padding-top: 20px;
}

.newcontent i{
    font-size: 13px;
    color: #000000;
    padding-top: 20px;
}

.button {
    width: 379px;
    height: 38px;
    background-color: #E20726;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-size: 14px;
    margin-left: 600px;
    margin-bottom: 70px;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 #9dafbd;
}

.button:hover {
    background-color: #d10412;
  }

table{
    padding-bottom: 70px;
}

.bonus{
    display: none;
    border: 1px solid black;
}