.new6 h1{
    text-align: center;
    padding-top: 75px;
}

.new6 h5{
    font-size: 14px;
    color: #4A4A4A;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
}

.new6 p{
    font-family: Roboto, serif;
    font-size: 18px;
    width: 900px;
    padding-bottom: 20px;
    margin: auto;
}

.imgnew6{
    width: 909px;
    height: 556px;
    padding-left: 310px;
    padding-bottom: 20px;
}
