table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

table{
    width: 92%;
    margin: auto;
}

.Adminpage h2{
  text-align: center;
}

form{
  width: 450px;
  position: relative;
  box-shadow: 5px 5px 10px 5px gray;
  margin: auto;
  height: 560px;
}

.row{
  display: flex;
  padding-bottom: 15px;
  padding-top: 11px;
}

.col-1{
  flex: 2;
  padding-right: 5px;
  text-align: right;
}

.col-2{
  flex: 3;
}