#illu-pic{
    width: 100%;
}
#background {
    background-image: url('../../assets/img/franchisee0.jpg');
    padding-bottom: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: 60px; */
}
.contentWapper{
    width:1vw;
    background-color: #f8f8f8;
}
.bex10-content{
    width: 1100px;
    margin: auto;
}
.heading1{
    display: block;
    flex: 1;
    font-size: 32px;
    width: 100%;
    border-bottom: 1px solid #979797;
    color: #e20726;
    line-height: 43px;
    margin-bottom: 14px;
    padding-bottom: 10px;
}
/* .heading1 strong{
    font-weight: bold;
} */

.bex10-content p{
    min-height: 19.2px; ;
}

.bex10-content>p>span{
    line-height: 25.5px;
    font-size: 14px;
}

